{% extends _layout %}

{% block head %}

	{{ parent() }}
	
	<link href="{{ base_url('public/css/jqwidgets/jqx.base.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ base_url('public/css/jqwidgets/jqx.mdv.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}


{% block content %}

	<div class="grid_12 taxon_page">
		<h1>¿Qué es MdV?</h1>

		<p class="about">La base de datos de los musgos de Venezuela MdV es una herramienta web diseñada para establecer una red 
		de briólogos de Venezuela y para poner a disposición de los investigadores y público en general la información 
		completa del inventario de los musgos de país. La base de datos tiene información bibliográfica y de colecciones de 
		briofitos de Venezuela, en ella se puede encontrar nomenclatura, localidades, ecoregiones, criterios de lista roja, 
		y de especies de utilidad para monitoreo ambiental.</p>
	</div>

{% endblock %}