<script type="text/javascript">
	$(document).ready(function () {
		var theme = 'mdv';
		$('#advSearchButton').jqxButton({
			theme: theme,
			height: 30,
			width: 150
		});
	});
</script>

<div class="grid_12 main_search">
	<div class="search">
		<form class="main_search_field" action="{{ base_url('search') }}" method="GET">
			<label>Búsqueda general:</label>
			<div id="search_layer">
				<input id="input_search" type="text" name="name" />
				<button type="submit"><img src="{{ base_url('public/images/main_search/lupa.png') }}" alt="Buscar" /></button>
			</div>
		</form>
	</div>
			
	<div class="advanced_search">
		<div id="advanced_search_button">
			<a href="#"></a>
		</div>
	</div>	
</div>