<div id="locationsGrid"></div>
						
						<script type="text/javascript">
					        $(document).ready(function () {
					           	var theme = 'mdv';
					           	var data = {{ locations }};
					            var source =
					            {
					                datatype: "json",
					                datafields: [
					                	{ name: 'Estado', type: 'string' },
					                	{ name: 'Municipio', type: 'string' },
					                    { name: 'Nombre', type: 'string' },
					                    { name: 'Altitud', type: 'string' },
					                    { name: 'Coleccion', type: 'string' },
					                    { name: 'FechaColeccion', type: 'string' },
					                    { name: 'Herbario', type: 'string' },
					                    { name: 'Coordenadas', type: 'string' },
							    		{ name: 'Referencias', type: 'string' }
					                ],
					                localdata: data,
					                pagesize: 10
					            };
					            var dataAdapter = new $.jqx.dataAdapter(source);
					            
					            var getLocalization = function () {
					                var localizationobj = {};
					                localizationobj.pagergotopagestring = "Ir a p치gina:";
					                localizationobj.pagershowrowsstring = "Mostrar filas:";
					                localizationobj.pagerrangestring = " de ";
					                localizationobj.pagernextbuttonstring = "Siguiente";
					                localizationobj.pagerpreviousbuttonstring = "Anterior";
					                localizationobj.emptydatastring = "No hay informaci칩n para mostrar";
					                return localizationobj;
					            }
					            
					            $("#locationsGrid").jqxGrid(
					            {
					            	width: 938,
					            	autoheight: true,
					                source: dataAdapter,
					                theme: theme,
					                columnsresize: true,
					                enablebrowserselection: true,
					                altrows: true,
					                altstart: 1,
					                altstep: 1,
					                localization: getLocalization(),
					                pageable: true,
					                columns: [
					                	{ text: 'Estado', datafield: 'Estado', width: '10%' },
					                    { text: 'Municipio', datafield: 'Municipio', width: '10%' },
					                    { text: 'Localidad', datafield: 'Nombre', width: '40%' },
					                    { text: 'Altitud (m)', datafield: 'Altitud', width: '10%' },
					                    { text: 'Colecci칩n', datafield: 'Coleccion', width: '20%' },
					                    { text: 'Fecha colecci칩n', datafield: 'FechaColeccion', width: '12%' },
					                    { text: 'Herbario', datafield: 'Herbario', width: '10%' },
					                    { text: 'Coordenadas', datafield: 'Coordenadas', width: '15%' },
							    		{ text: 'Referencias', datafield: 'Referencias', width: '18%' }
					                ]
					           	});  	
					       });
					    </script>