<script type="text/javascript">
	$(document).ready(function () {
    	var theme = 'mdv';
        $("#vdw").jqxTooltip({ 
        	content: '<img src="{{ base_url('public/images/vanderwijk.jpg') }}" />', 
        	position: 'mouse', 
        	name: 'vdw', 
        	theme: theme 
        });
    });
</script>
						<!-- Distribuci贸n mundial -->
						{% if taxon.getGlobalDistribution != null %}
							<strong>Distribuci贸n en el mundo:</strong>
							<ul>
								<li><span>{{ taxon.getGlobalDistribution }}</span></li>
							</ul>
							<br/>
						{% endif %}
						
						<!-- Distribuci贸n VDW -->
						{% if taxon.getVDWDistribution != null %}
							<strong>Distribuci贸n por zonas de Van der Wijk:</strong><img id="vdw" src="{{ base_url('public/images/img12x12_about.png') }}" style="margin-left:5px;" />
							<ul>
								<li><span>{{ taxon.getVDWDistribution }}</span></li>
							</ul>
						{% endif %}
					