<script type="text/javascript">
$(document).ready(function() {
	$('#gallery').lightBox();
});
</script>

<div id="thumbs">
	{% for item in gallery %}
		<a id="gallery" href="{{ base_url(item.img) }}" title="{{ item.desc }}" data-lightbox="taxon"><img src="{{ base_url(item.thumb) }}" /></a>
	{% endfor %}
</div>


