<!-- Distribucion Nacional -->
{% if locations != null %}
	<script type="text/javascript">
        $(document).ready(function () {
            var theme = 'mdv';
            $("#estados").jqxTooltip({ 
            	content: '<img src="{{ base_url('public/images/estados.jpg') }}" />', 
            	position: 'mouse', 
            	name: 'estados', 
            	theme: theme,
            	autoHide: false 
            });
        });
    </script>
    
	<strong>Estados:</strong><img id="estados" src="{{ base_url('public/images/img12x12_about.png') }}" style="margin-left:5px;" />
		<ul>
			{% for est in estados %}
				<li><span>{{ est.name }}</span></li>
			{% endfor %}
		</ul>
{% endif %}