
						<!-- Distribuci贸n mundial -->
						{% if taxon.getGlobalDistribution != null %}
							<strong>Distribuci贸n en el mundo:</strong>
							<ul>
								<li><span>{{ taxon.getGlobalDistribution }}</span></li>
							</ul>
							<br/>
						{% endif %}
						
						<!-- Distribuci贸n VDW -->
						{% if taxon.getVDWDistribution != null %}
							<strong>Distribuci贸n por zonas de Van der Wijk:</strong>
							<ul>
								<li><span>{{ taxon.getVDWDistribution }}</span></li>
							</ul>
						{% endif %}
					