{% extends '_layouts/admin.html.twig' %}

{% block head %}

	{{ parent() }}

{% endblock %}

{% block content %}

	<div class="grid_12">
		<div id="tax_grid_title">
			
		</div>
	</div>

{% endblock %}	